.main{
    height:calc(100vh-280px);
    width:100%;
    display: flex;
    justify-content: space-between;
  }

  .top_btn{
    display: flex;
    gap:25px;
}

.inputt{
  width:53%;
  height: 30px;
}